<h1> <%= @job.title %> </h1>

<h3>Detail <%= @job.description %></h3>
<h3 id="completed-boolean"><%= render('complete_boolean') %></h3>
<h3 id="pending-boolean">In progress: <%= @job.pending %></h3>
<div id="detail-id">
  <% if current_worker %>
    <div id="idk-show">

    </div>
    <% if !@job.worker_id.nil? %>
      <p>Claimed by: <%= @worker.email %></p>
    <% else %>
      <div id="idk">
        <%= render('hide_info') %>
      </div>
    <% end %>
  <% end %>
</div>

<div id="checks">

</div>


<% if !@job.worker_id.nil? %>

  <%= render('complete_pending') %>

<% end %>
