<h1 id="title-hide"> <%= @job.title %> </h1>

<h3>Detail <%= @job.description %></h3>
<h3>Completed <%= @job.completed %></h3>
<h3>Pending <%= @job.pending %></h3>

<div id="detail-id">
  <% if current_worker %>
    <div id="idk-show">

    </div>
    <% if @job.pending %>
      <p>Claimed by: <%= @worker.email %></p>
    <% else %>
      <div id="idk">
        <%= render('hide_info') %>
      </div>
    <% end %>
  <% end %>
</div>
